body {
  background-color: #212121;
}

.artist {
  display: inline-block;
  padding: 10px;
}

img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

h4 {
  margin-top: 0px;
}

.track {
  display: inline-block;
  padding: 10px;
}

.sidebar {
  min-width: 250px;
}

#title {
  margin-bottom: 0px;
}

#results-container {
  text-align: center;
}

.item {
  text-align: center;
}

.hidden {
  display: none;
}

#logo-img {
  height: 50px;
  margin: auto;
  display: block;
} 

.ui.padded.segment {
  background-color:#121212;
}

.one.wide.column.centered.sidebar
{
  position: fixed;
  top: 10%;
  left: 30px;
}
.ui.fluid.button {
  background-color:#1db954;
  color:#212121;
}

.ui.form {
  color:#1db954;
}

h2,h4 {
  color:#1db954;
}

#timeEntry div.field div.ui.radio.checkbox label::before,
#timeEntry div.field div.ui.checkbox label::before,
#timeEntry div.field div.ui.radio.checkbox input[type="radio"] + label,
#timeEntry div.field div.ui.checkbox input[type="checkbox"] + label {
    color: #1db954 !important;
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  img {
    width: 100px;
    height: 100px;
  }
}

@media only screen and (max-width: 767px) {
  img {
    width: 200px;
    height: 200px;
  }
}